:root {
  --bgColor: white;
  --textColor: black;
  --accentColor: #0079c2;
  --warningColor: #df006e;
  --successColor: #99c879;
  --hoverColor: #00aacd;
}

#root {
  min-width: 50%;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: var(--hoverColor);
  background-image: linear-gradient(
    to right bottom,
    var(--accentColor),
    var(--hoverColor) 15%,
    var(--successColor) 90%
  );
}

h1 {
  color: var(--bgColor);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  padding: 25px 15px 15px;
  margin: 0 0 10px;
}

form {
  min-width: 50%;
  margin: auto;
  background-color: var(--bgColor);
  color: var(--textColor);
  border-radius: 5px;
  padding: 5% 10%;
}

table {
  width: 80%;
  margin: auto;
  background-color: var(--bgColor);
  color: var(--textColor);
  border-radius: 5px;
  padding: 5%;
}

th, td {
  text-wrap: wrap;
  text-align: left;
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  border-bottom: 1px dotted var(--hoverColor);
  border-collapse: collapse;
}

.title {
  text-wrap: nowrap !important;
}

.question {
  border-bottom: 1px dotted var(--hoverColor);
  padding-bottom: 5px;
  margin-bottom: 8px;
}

p {
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  padding: 2px;
  margin: none;
}

label {
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding: 5px;
  margin: 2px 0;
}

input {
  background-color: var(--bgColor);
  accent-color: var(--accentColor);
  border: 1px solid var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

input:focus, input:hover, input:active {
  border: 2px solid var(--hoverColor);
  accent-color: var(--hoverColor);
}

button, a {
  border-radius: 7px;
  padding: 5px 10px;
  margin: 2px 0;
  text-decoration: none;
  text-align: center;
  text-wrap: nowrap;
  color: var(--bgColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  border: none;
  background-color: var(--accentColor);
}

button:hover, a:hover {
  background-color: var(--hoverColor) !important;
  color: var(--bgColor);
}